#screen {
    display: flex;
    justify-content: center;
}

#mainFrame{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    width: 406px;
    height: 612px;
    background-color: black;
}

.display {
    width: 407px;
    height: 50px;
}

.grayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.orangeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df974b;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.longButton{
    width: 202px;
    height: 100px;
}

.regularButton{
    width: 100px;
    height: 100px;
}