.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    height: 30vw;
    margin: 50px auto;
    border: 5px solid #222222;
}

.box-1 {
    display: flex;
    background-color: #dd4838;
    align-items: center;
    justify-content: center;
}

.box-2 {
    display: flex;
    background-color: #e84c3c;
    align-items: center;
    justify-content: center;
}

.box-3 {
    display: flex;
    background-color: #e84c3c;
    align-items: center;
    justify-content: center;
}

.box-4 {
    display: flex;
    background-color: #dd4838;
    align-items: center;
    justify-content: center;
}

/* container that will contain all three divs in it */
.outcontainer-box1 {
    width: 150px;
}

.extend-box1 {
    margin-left: 0px;
    height: 5px;
    background-color: #fffefc;
    animation: extendbox1 10s ease-in-out forwards infinite;
}

.loading-box1 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffbeb5;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
}

.outcontainer-box2 {
    width: 150px;
    position: absolute;
}

.extend-box2 {
    margin-left: 0px;
    position: absolute;
    background-color: #fffefc;
    animation: extendbox2 10s ease-in-out forwards infinite;
}

.outcontainer-box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 10px;
    position: relative;
    animation: rotate 1.5s infinite linear;
}

.item3 {
    width: 12px;
    height: 12px;
}

.rotating-circle3 {
    border-radius: 50%;
    background-color: #f6a59d;
}

.rotating-circle3-middle {
    background-color: #ffffff;
    border-radius: 50%;
}

.outcontainer-box4 {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: aqua;
}

.extend-box4 {
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    background-color: #fffefc;
    animation: extendbox4 10s ease-in-out forwards infinite;
}

#circle {
    width: 11px;
    height: 11px;
    border-radius: 5.5px;
    background-color: #fffefc;
    position: absolute;
    top: 0px;
    right: 0px;
    animation: move-arround 2.5s ease-in forwards infinite;
}

.bck {
    background-color: #e36d61;
}

@keyframes extendbox1 {
    0% {
        width: 0px;
        height: 5px;
        opacity: 0;

    }

    10% {
        width: 0px;
        height: 5px;
        opacity: 1;

    }

    70% {
        width: 150px;
        height: 5px;
        opacity: 1;
    }

    100% {
        width: 150px;
        height: 5px;
        opacity: 0;
    }
}

@keyframes extendbox2 {
    0% {
        width: 0px;
        height: 22px;
        opacity: 0;

    }

    10% {
        width: 0px;
        height: 22px;
        opacity: 1;

    }

    70% {
        width: 150px;
        height: 22px;
        opacity: 1;
    }

    100% {
        width: 150px;
        height: 22px;
        opacity: 0;
    }
}

@keyframes extendbox4 {
    0% {
        width: 0px;
        height: 40px;
        opacity: 0;

    }

    10% {
        width: 0px;
        height: 40px;
        opacity: 1;

    }

    70% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    100% {
        width: 40px;
        height: 40px;
        opacity: 0;
    }
}

@keyframes move-arround {
    0%   {
        top: 0px;
        right: 0px;
    }
    25%  {
        top: 59px;
        right: 0px;
    }
    50%  {
        top: 59px;
        right: 59px;
    }
    75%  {
        top: 0px;
        right: 59px;
    }
    100% {
        top: 0px;
        right: 0px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        }
    25% {
        transform: rotate(180deg);
        }    
    50% {
    transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
        }
    100% {
        transform: rotate(360deg);
    }
}